.nbfooter{
    background-color: #00513f;
    position: relative;
}
.footer__wrapper{
    display: flex;
    padding: 80px;
    justify-content: center;
}
.footerblock{

}
.normalboots{
    color: #fff; 
    padding-bottom: 17px;
}
.footer_items{
    padding-top: 17px;
    text-align: center;
}
.social--img{
    display: inline-block;
    width: 50px;
}
